h1 {
  font-family: "Caveat", cursive;
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

* {
  background-color: black;
  margin-top: 40px;
}

#thug {
  width: 400px;
  border: 2px solid white;
  width: 50%;
  margin-left: 25%;
}

p {
  color: white;
  text-align: center;
}
